*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color:#FF6900 ;
}

header nav{
    padding: 20px 0px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}

main{
    padding-top: 120px;
}


.container{
    max-width: 980px;
    margin: auto;
}

nav .container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.container ul{
    font-weight: 600;
    display: flex;
    list-style: none;
}


.container ul a{
    padding-right: 1rem;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.logo{
    width: 150px;
}

.profile-icons{
    text-align: right;
    color: white;
}

.profile-icons i{
    padding-right: 6px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.item{
    padding: 10px;
    padding-bottom: 40px;
    flex-basis: 33.3%;
}

.product{
    display: inline-block;
    height: 500px;
    position: relative;
}

.product-pic,.hover-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hover-img{
    display: none;
}

.product:hover .hover-img{
    display: inline-block;
}

.product:hover .product-pic{
    display: none;
}

.product:hover .like{
    color: red;
}

.img-info{
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    color: white;
}

.like{
    font-size: 2.4rem;
    padding: 8px 15px;
    position: absolute;
    top: 20px;
    right: 0;
    background-color: rgb(255, 255, 255);
    color: black;
}

.discount{
    display: inline-block;
    background-color: red;
    margin-right: 5px;
    padding: 5px 10px;
}
.material{
    display: inline-block;
    background-color: green;
    padding: 5px 10px;
}

.product-price span, .product-brand{
    font-size: 14px;
}
.discounted{
    color: red;
    margin-right: 5px;
}

footer{
    padding: 40px;
    background-color: black;
}


footer .container{
    color: white;

    display: flex;
    justify-content: space-between;
}


.legal-info{
    padding-top: 1rem;
}
.legal-info a{
    color: white;
    text-decoration: none;
    padding-right: 15px;
}

.social-icons h4{
    padding-bottom: 1rem;
}

.social-icons i{
    font-size: 1.2rem;
    padding-right: 6px;
    color: white;
}


